# See https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# See https://github.com/github/gitignore/blob/master/Global/Backup.gitignore
*.bak
*.gho
*.ori
*.orig
*.tmp

# https://github.com/Microsoft/vscode-extension-samples/blob/master/.gitignore
.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
*/out/